* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jaldi", serif;
    font-weight: 400;

    color: #fff;
    text-align: center;

    background-image: url(../img/backgroundImage.jpg);
}


.header {

    .logoImg {
        margin-top: 80px;
        width: 128px;
        height: 128px;
    }

    .headling {
        font-size: 57px;
        font-weight: 700;
    }
}



.sub-headling {
    font-size: 64px;
    font-weight:400;
}

.menu {
// add it after. we are here
}

.simpleText {
    font-size: 30px;
}

.passwordLengthHolder {
    width: 200px;
    height: 40px;
    border-radius: 16px;
    border-width: 0;
    background-color: #e7e7e7;
    padding-left:32px;
    font-size: 22px;
}

.passwordLengthHolder:active {
    border-width: 0;
}

.passwordLengthHolder:hover {
    background-color:#d8d8d8;
    transition: 0.4s;
}





.generateBtn {
    margin-top: 10px;
    background-color: #218df1;
    color: #fff;
    font-size: 22px;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    border-width: 0;
}

.generateBtn:hover {
    background-color: #6db1f0;
    transition: 0.2s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderUpper, .sliderSymb, .sliderNumbers {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e7e7e7;
    border-radius: 20px;
    transition: 0.4s;
}

.sliderUpper:hover, .sliderSymb:hover, .sliderNumbers:hover {
    background-color:#d8d8d8;
}

.switch input:checked + .sliderUpper,
.switch input:checked + .sliderSymb,
.switch input:checked + .sliderNumbers {
    background-color: #218df1;
}

.creatorName {
    margin-top: 90px;
}

